$btnDirection: hsl(149, 66%, 64%);
$btnJustify: hsl(105, 100%, 73%);
$btnAlign: hsl(120, 66%, 64%);
$gray: hsl(0, 0%, 38%);

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:focus {
  outline: none;
}

body {
  min-height: 100vh;
  text-align: center;
}

main {
  min-height: 90vh;
  margin: 0 1rem;
}

h1 {
  font-weight: 900;
  font-size: clamp(1rem, 6vw + 1rem, 4rem);
  padding: 4rem 0;
}

h3 {
  margin-bottom: 0.5rem;
}

.box {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 7rem;
  h2 {
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 2rem;
  }
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;

  button {
    color: black;
    background: $btnDirection;
    border: none;
    border-radius: unset;

    min-width: 7.3rem;
    min-height: 2.5rem;
    font-size: 1rem;
    cursor: pointer;

    &:hover,
    &:focus {
      border: 2px solid $gray;
      transition: none;
    }
    &:active {
      transform: translate(0, 3px);
    }
  }
  .combine-justify,
  .justify-content {
    background: $btnJustify;
  }
  .combine-align,
  .align-items {
    background: $btnAlign;
  }
  .flex-direction {
    background: $btnDirection;
  }
}

.flex-box {
  display: flex;

  box-shadow: 0 0 0 2px black;
  min-height: 15rem;
  margin-bottom: 1rem;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .first {
    background: hsl(0 100% 50% / 0.7);
  }
  .second {
    background: hsl(20 100% 50% / 0.7);
  }
  .third {
    background: hsl(40 100% 50% / 0.7);
  }
}

.flex-box-column {
  flex-flow: column nowrap;
  div {
    flex: 1 1 0;
  }
}

.flex-box-row {
  flex-flow: row nowrap;
  div {
    min-height: 5rem;
    min-width: 7rem;

    @media (max-width: 26rem) {
      min-width: 4rem;
      min-height: 4rem;
    }
  }
  justify-content: space-evenly;
  align-items: center;
}

.flex-box-align-items {
  align-items: stretch;
}

.flex-box-combine {
  align-items: center;
}

footer {
  min-height: 10vh;
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;

  a {
    text-decoration: underline;
    font-weight: bold;
    padding: 0.3rem;
  }
  a:focus,
  a:hover {
    border: 2px solid $gray;
  }
}
