*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
}

main {
  margin: 0 1rem 0 1rem;
}

.box {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-weight: 900;
  font-size: clamp(1.5rem, 3vw + 1rem, 4rem);
  padding: 4rem;
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;

  button {
    min-width: 7.3rem;
    min-height: 2.5rem;
    font-size: 1rem;
    margin: 0 1rem 1rem 1rem;
    cursor: pointer;
  }
}

.flex-box {
  display: flex;
  flex-flow: column;
  justify-content: stretch;
  align-items: stretch;

  box-shadow: 5px 5px 0 0 black, 10px 10px 0 0 grey;
  min-height: 15rem;
  margin-bottom: 1rem;

  div {
    flex: 1 1 0;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .first {
    background: hsl(0 100% 50% / 0.7);
  }
  .second {
    background: hsl(20 100% 50% / 0.7);
  }
  .third {
    background: hsl(40 100% 50% / 0.7);
  }
}

.hello {
  color: lavender;
}
