@use '../abstracts/variables' as *;
@use '../abstracts/extends' as *;

.buttons {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin-bottom: 1rem;

	//maledetto ":not()" che aumenti la specifity
	button:not(.code-snippet, .add, .remove) {
		@extend %button;
	}
	button.combine-justify,
	button.justify-content {
		background: $btnJustify;
	}
	button.combine-align,
	button.align-items {
		background: $btnAlign;
	}
	button.flex-direction {
		background: $btnDirection;
	}
}
