@use '../abstracts/variables' as *;

.code-snippet-container {
	position: relative;
	display: inline-block;
}

.code-snippet {
	display: inline-flex;
	align-items: center;
	gap: 1rem;

	font-size: 1em;
	font-family: 'IBM Plex Mono', monospace;
	border: none;

	padding: 0.7em 1em 0.7em 1.5em;
	margin-bottom: 0.4rem;

	background: hsl(230, 19%, 18%);
	color: white;
	box-shadow: 0.25em 0.25em 0 0 hsl(0, 0%, 52%);

	cursor: pointer;

	&::after {
		content: '';
		display: inline-block;

		min-width: 2em;
		min-height: 2em;

		background-size: cover;
		background-image: $content-copy-image;
	}

	&:focus,
	&:hover {
		box-shadow: 0.4em 0.4em 0 0 hsl(0, 0%, 52%);
		outline: 2px solid white;
		//outline-offset: -0.05em;
	}
}

.copied {
	display: block;
	position: absolute;
	inset: 0.5rem -7rem auto auto;

	font-size: 1.4em;

	margin: 0 auto;
	padding: 0.3em 0.4em;

	opacity: 0;
	border-radius: none;

	color: green;

	@media (max-width: 43rem) {
		inset: auto 0 -3rem 0;
	}
}

.copied.animate {
	animation: bouncyFadeIn 2.5s linear;
}

@keyframes bouncyFadeIn {
	5% {
		opacity: 1;
		transform: scale(1.2);
	}
	9% {
		transform: scale(1.15);
	}
	13% {
		transform: scale(1.2);
	}
	90% {
		opacity: 1;
		transform: scale(1.2);
	}
}
