@use '../abstracts/variables' as *;

.code-snippet-container {
	position: relative;
	display: inline-block;
}

.code-snippet {
	display: inline-flex;
	align-items: center;
	gap: 1rem;

	padding: 0.7em 1.5em;
	margin-bottom: 0.4rem;
	background: hsl(230, 19%, 18%);
	color: white;
	box-shadow: 0.25em 0.25em 0 0 hsl(0, 0%, 52%);

	cursor: pointer;

	&::after {
		content: '';
		display: inline-block;

		width: 2em;
		height: 2em;

		margin-right: -0.5rem;

		background-size: cover;
		background-image: $content-copy-image;
	}
}

.copied {
	display: block;
	position: absolute;
	inset: 0.5rem -7rem auto auto;
	top: 0.5rem;
	right: -7rem;

	font-size: 1.4em;

	margin: 0 auto;
	padding: 0.3em 0.4em;

	opacity: 0;
	border-radius: 6px;

	color: green;

	@media (max-width: 40rem) {
		inset: 4rem 0 0 0;
		top: 4rem;
		right: 0;
		left: 0;
	}
}

.copied.animate {
	animation: bouncyFadeIn 2.5s linear;
}

@keyframes bouncyFadeIn {
	5% {
		opacity: 1;
		transform: scale(1.2);
	}
	9% {
		transform: scale(1.15);
	}
	13% {
		transform: scale(1.2);
	}
	90% {
		opacity: 1;
		transform: scale(1.2);
	}
}
