//next time use --custom-properties;
$btnDirection: hsl(149, 66%, 64%);
$btnJustify: hsl(105, 100%, 73%);
$btnAlign: hsl(120, 66%, 64%);

$firstBox: hsl(0 100% 50% / 0.7);
$secondBox: hsl(20 100% 50% / 0.7);
$thirdBox: hsl(40 100% 50% / 0.7);

$gray: hsl(0, 0%, 38%);

//the path should be relative to main.css not to _variables.scss
$content-copy-image: url(../assets/content_copy_white_24dp.svg);
